* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #E9EBEE;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

header {
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
  align-items: center;
}

header nav {
  margin-left: auto;
}

header nav a {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  border-radius: 3px;
  transition: background .3s;
  text-decoration: none;
  color: #fff;
}

header nav a:hover {
  background: rgba(0, 0, 0, .15);
}

header nav span {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .3px;
  text-shadow: 0 1px rgba(0, 0, 0, .3);
}

header nav i {
  margin-left: 8px;
  font-size: 2em;
  text-shadow: none;
  color: rgba(0, 0, 0, .45);
}

.postlist {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
}

.post {
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 12px;
}

.post + .post { margin-top: 15px; }

.post-author {
  display: flex;
  align-items: center;
}

.post-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-author div span {
  display: block;
  color: #444;
  font-weight: bold;
  font-size: 14px;
}

.post-author div span:last-child {
  color: #999;
  font-weight: normal;
  font-size: .7em;
  margin-top: 3px;
}

.post-author i {
  margin-left: auto;
  color: #666;
  align-self: flex-start;
}

.post-content {
  font-size: 14px;
  color: #333;
  margin: 1em 0 1.5em;
}

.commentlist > p {
  border-top: 1px solid #ddd;
  text-align: right;
  font-size: 12px;
  color: #888;
  padding-top: 10px;
}

.comment {
  display: flex;
  margin-top: 14px;
}

.comment img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
}

.comment div {
  flex: 1;
}

.comment p {
  background: #F2F3F5;
  font-size: 13px;
  padding: 10px;
  color: #444;
  line-height: 1.4;
  border-radius: 20px;
}

.comment p strong { margin-right: 3px; }

.comment nav {
  padding: 5px 0 0 10px;
  font-size: 12px;
}

.comment nav a {
  color: #29487d;
  text-decoration: none;
}

.comment nav a:hover { text-decoration: underline; }

.comment nav span {
  margin: 0 3px;
  color: #888;
}

.newcomment {
  margin-top: 15px;
  display: flex;
}

.newcomment img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.newcomment input {
  flex: 1;
  border-radius: 20px;
  height: 32px;
  border: 1px solid #ccd0d5;
  background: #f2f3f5;
  outline: 0;
  color: #333;
  font-size: 13px;
  padding: 0 14px;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
